<%= render 'spree/admin/shared/recipe_tabs', current: :ingredients %>
<%= render 'spree/admin/shared/error_messages', target: @recipe %>

<% content_for :page_actions do %>

  <%= button_link_to(
    Spree.t(:add_recipe_ingredients),
    "javascript:;",
    { icon: 'add.svg', :'data-target' => "tbody#sortVert", class: 'btn-success spree_add_fields' }) %>

  
<% end if can? :create, Spree::Ingredient %>

<%= form_for @recipe, url: spree.admin_recipe_url(@recipe), method: :put do |f| %>
  <fieldset>
    <div id="prototypes" data-hook></div>
    <div class=" table-responsive mb-3">
      <table id="recipe_ingredients" class="table sortable" data-hook data-sortable-link="<%= update_positions_admin_recipe_ingredients_url %>">
        <thead>
          <tr data-hook="recipe_ingredient_header">
            <th></th>
            <th style="width:120px;"><%= Spree.t(:amount) %></th>
            <th style="width:120px;"><%= Spree.t(:unit) %></th>
            <th style="width:220px;"><%= Spree.t(:name) %></th>
            <th><%= Spree.t(:note) %></th>
            <th><%= Spree.t(:external_link) %></th>
            <th class="actions"></th>
          </tr>
        </thead>
        <tbody id="sortVert">
          <%= f.fields_for :ingredients do |pp_form| %>
            <%= render 'recipe_ingredient_fields', f: pp_form %>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= render('spree/admin/shared/edit_resource_links') if can? :update, Spree::Ingredient %>
    <%= hidden_field_tag 'clear_product_properties', 'true' %>
  </fieldset>
<% end %>

<script>
  var properties = <%= raw(@properties.to_json) %>;
  $('#product_properties').on('keydown', 'input.autocomplete', function() {
    already_auto_completed = $(this).is('ac_input');
    if (!already_auto_completed) {
      $(this).autocomplete({source: properties});
      $(this).focus();
    }
  });
</script>

<style>
  div.ui-helper-hidden-accessible {display:none;}
</style>
