<% content_for :page_title do %>
  <%= Spree.t(:instructions) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_instruction), new_admin_instruction_url, class: 'btn-success', icon: 'add', id: 'admin_new_tag_link' %>
<% end if can?(:create, Spree::Instruction) %>
<%= search_form_for [:admin, @search],  url: spree.admin_instructions_url do |f| %>
  <div class="form-group">
    <%= f.search_field (:description_cont) ,class:'form-control js-quick-search-target', placeholder: 'Enter instruction description to search'%>
  </div>
  <div class="form-actions">
    <%= button Spree.t(:search), 'search.svg' %>
  </div>
<% end %>

<table class="table" id="listing_tags" data-hook>
  <thead>
    <tr data-hook="admin_instructions_index_headers">
      <th><%= t(:description) %></th>
      <th data-hook="admin_tags_index_header_actions" class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @instructions.each do |instruction| %>
      <tr id="<%= spree_dom_id instruction %>" data-hook="admin_tags_index_rows" class="<%= cycle('odd', 'even')%>">
        <td><%= instruction.description.truncate(150) %></td>
        <td data-hook="admin_tags_index_row_actions" class="actions text-right">
          <%#= link_to_edit instruction, no_text: true %>
          <%#= link_to_delete instruction, no_text: true %>
          <%= link_to edit_admin_instruction_path(instruction) do%>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg>
          <% end %>  
          <%= link_to admin_instruction_path(instruction), data: {method: :delete} do%>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#ff0000" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @instructions %>