<div class="carousel-inner">
  <% active_class_assigned = false %>

  <% if recipe.recipe_icons.present? %>
    <% recipe.recipe_icons.each_with_index do |recipe_image, index| %>
      <% if recipe_image.attachment_blob.present? %>
        <div class="carousel-item <%= 'active' if !active_class_assigned %>">
          <img class="d-block w-100" src="<%= main_app.url_for(recipe_image.my_cf_image_url(:plp)) %>" alt="Image <%= index + 1 %>">
        </div>
        <% active_class_assigned = true %>
      <% end %>
    <% end %>
  <% end %>

  <% if recipe.recipe_videos.present? %>
    <% recipe.recipe_videos.each_with_index do |video, index| %>
      <% if !active_class_assigned %> <!-- Only assign active class to first video if no image was active -->
        <div class="carousel-item active">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="<%= video.video_url %>" allowfullscreen></iframe>
          </div>
        </div>
        <% active_class_assigned = true %> 
      <% else %>
        <div class="carousel-item">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="<%= video.video_url %>" allowfullscreen></iframe>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<!-- Carousel Indicators -->
  <ol class="carousel-indicators">
    <% active_class_assigned = false %>

    <% if recipe.recipe_icons.present? %>
      <% recipe.recipe_icons.each_with_index do |recipe_image, index| %>
        <% if recipe_image.attachment_blob.present? %>
          <li data-target="#gallery-slider" data-slide-to="<%= index %>" class="<%= 'active' if !active_class_assigned %>">
            <img src="<%= main_app.url_for(recipe_image.my_cf_image_url(:thumb)) %>" alt="Thumbnail <%= index + 1 %>">
          </li>
          <% active_class_assigned = true %>
        <% end %>
      <% end %>
    <% end %>

    <!-- Video indicators -->
    <% if recipe.recipe_videos.present? %>
      <% recipe.recipe_videos.each_with_index do |video, index| %>
        <% youtube_id = video.video_url.split('v=')&.last %>
        <% thumbnail_url = "https://img.youtube.com/vi/#{youtube_id}/hqdefault.jpg" %>
        <li data-target="#gallery-slider" data-slide-to="<%= (recipe.recipe_icons.present? ? recipe.recipe_icons.size : 0) + index %>" class="<%= 'active' if !active_class_assigned %>">
          <img src="<%= thumbnail_url %>" alt="Video Thumbnail <%= index + 1 %>">
        </li>
        <% active_class_assigned = true %>
      <% end %>
    <% end %>
  </ol>
