<h4 class="recipe-page-count">1</h4>
<div class="recipe-pdf" >
    <div>
        <h1 class="recipe-name" > 
            <%= @recipe.name %>
        </h1>
        <table class="recipe-info-table" >
            <thead>
                <tr>
                    <td>
                      <% if @recipe.recipe_icons.present? %>
                        <%= image_tag(main_app.url_for(@recipe.recipe_icons.first.my_cf_image_url(:plp)), class: "recipe-image", alt: @recipe.name ) %>
                      <% else %>
                        <%= image_tag(asset_path('noimage/default-product-image.jpg'), alt: @recipe.name) %>
                      <% end %>
                    </td>
                    <td class="recipe-info" >
                        <div>
                            <div class="mt-4" >
                                <table>
                                    <thead>
                                        <tr>
                                            <td class="recipe-nested-table-data-icon" >
                                                <svg xmlns="http://www.w3.org/2000/svg" width="72" height="72" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-glass-water">
                                                    <path d="M15.2 22H8.8a2 2 0 0 1-2-1.79L5 3h14l-1.81 17.21A2 2 0 0 1 15.2 22Z"/>
                                                    <path d="M6 12a5 5 0 0 1 6 0 5 5 0 0 0 6 0"/>
                                                </svg>
                                            </td>
                                            <td class="recipe-nested-table-data" >
                                                <% if @recipe.ingredients.present? %>
                                                    <div>
                                                        <h4>INGREDIENTS</h3>
                                                        <ul class="mt-2" >
                                                            <% @recipe.ingredients.each do |ingredient| %>
                                                                <li>
                                                                  <%= ingredient.amount %> <%= ingredient.unit %>. 
                                                                  <% if ingredient.product.present? %>
                                                                    <% product = ingredient.product %>
                                                                    <%= link_to spree.product_path(product) , class: "ml-1", data: { turbolinks: false } do %>
                                                                      <%= ingredient.name %>
                                                                    <% end %>
                                                                  <% elsif ingredient.external_link.present? %>
                                                                    <%= link_to ingredient.external_link , class: "ml-1", data: { turbolinks: false } do %>
                                                                      <%= ingredient.name %>
                                                                    <% end %>
                                                                  <% else %>
                                                                    <%= ingredient.name %>
                                                                  <% end %>
                                                                </li>
                                                            <% end %>
                                                        </ul>  
                                                    </div>
                                                <% end %>
                                            </td>
                                        </tr>
                                    </thead>
                                </table>
                                
                                <table class="instructions-table" >
                                    <thead>
                                        <tr>
                                            <td class="recipe-nested-table-data-icon" >
                                               <svg xmlns="http://www.w3.org/2000/svg" width="72" height="72" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-scan-text">
                                                    <path d="M3 7V5a2 2 0 0 1 2-2h2"/>
                                                    <path d="M17 3h2a2 2 0 0 1 2 2v2"/>
                                                    <path d="M21 17v2a2 2 0 0 1-2 2h-2"/>
                                                    <path d="M7 21H5a2 2 0 0 1-2-2v-2"/>
                                                    <path d="M7 8h8"/><path d="M7 12h10"/>
                                                    <path d="M7 16h6"/>
                                                </svg>
                                            </td>
                                            <td class="recipe-nested-table-data" >
                                                <% if @recipe.instructions.present? %>
                                                    <div class="mt-4" >
                                                        <h4>INSTRUCTIONS</h4>
                                                        <ol class="mt-2" >
                                                            <% @recipe.instructions.each do |instruction| %>
                                                                <li>
                                                                    <%= instruction.description %>
                                                                </li>
                                                            <% end %>
                                                        </ol>
                                                    </div>
                                                <% end %>
                                            </td>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
            </thead>
        </table>
        <div class="" >
          <%= @recipe.description.html_safe %>
        </div>
    </div>
</div>