<main class="page-contents">

  <h1>Search Results for "<%= @query %>"</h1>

  <div  class="row row-cols-xl-4 row-cols-lg-4 row-cols-sm-2 no-gutters"  data-hook="homepage_products">
    <% @recipes.each_with_index do |recipe, index| %>
      <div class="col col-12">
  <div class="product-wrap" id="recipe_<%= recipe.id %>" data-hook="recipes_list_item">
    <%= link_to recipe_product_path(recipe), data: { turbolinks: false } do %>
      <div class="product-img">
        <% if browser.device.mobile? || !browser.device.tablet? %>
          <% if recipe.recipe_icons.present? %>
              <%= image_tag main_app.url_for(recipe.recipe_icons.first.my_cf_image_url(:plp)), alt:"#{recipe.name} Image" %> 
          <% else %>
              <%= image_tag "noimage/default-product-image.jpg", alt:"#{recipe.name} Image" %>
          <% end %>
        <% else %>
          <% if sub_category.recipe_icons.present? %>
              <%= image_tag sub_category.recipe_icons.first.my_cf_image_url(:plp), alt:"#{recipe.name} Image" %> 
          <% else %>
              <%= image_tag "noimage/default-product-image.jpg", alt:"#{recipe.name} Image" %>
          <% end %>
        <% end %>
      </div>
      <div class="product-desc" title=<%= recipe.name %> >
        <div class="product-desc-title"><%= recipe.name %></div>
      </div>
    <% end %>
  </div>
</div>
    <% end %>
  </div>
</main>



