<% @body_id = 'recipe-details' %>
    <main class="page-contents">
      <div class="row no-gutters">
        <div class="col-xl-1 col-lg-2 phone-hide"></div>
        <div class="col-xl-10 col-lg-8">
          <div class="recipe-details-wrapper">
            <ol class="breadcrumb">
              <%= spree_recipe_breadcrumbs(@taxon, "", @recipe) %>
            </ol>
            <div class="ratings">
              <%= image_tag asset_path("star.svg"), alt: "star" %>
              <%= image_tag asset_path("star.svg"), alt: "star" %>
              <%= image_tag asset_path("star.svg"), alt: "star" %>
              <%= image_tag asset_path("star.svg"), alt: "star" %>
              <%= image_tag asset_path("star.svg"), alt: "star" %>
              <span>5 Reviews</span>
            </div>
            <div class="row">
              <div class="col-xl-6">
                <div class="recipe-gallery-wrap">
                  <div id="gallery-slider" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <% if @recipe.recipe_icons.present? %>
                        <% @recipe.recipe_icons.each_with_index do |recipe_icon, index| %>
                          <% if recipe_icon.attachment.blob.present? %>
                            <div class="carousel-item <%= 'active' if index == 0 %>">
                              <img class="d-block w-100" src="<%= main_app.url_for(recipe_icon.my_cf_image_url(:plp)) %>" alt="Image <%= index + 1 %>">
                            </div>
                          <% end %>
                        <% end %>
                      <% end %>
                      <% if @recipe.recipe_videos.present? %>
                        <% @recipe.recipe_videos.each_with_index do |video, index| %>
                          <div class="carousel-item <%= 'active' if index == @recipe&.recipe_icons&.size %>">
                            <div class="embed-responsive embed-responsive-16by9">
                              <iframe class="embed-responsive-item"
                                src="<%= video.video_url %>"
                                allowfullscreen></iframe>
                            </div>
                          </div>
                        <% end %>
                      <% end %>
                    </div>

                    <!-- Carousel Indicators -->
                    <ol class="carousel-indicators">
                      <% if @recipe.recipe_icons.present? %>
                        <% @recipe.recipe_icons.each_with_index do |recipe_icon, index| %>
                          <% if recipe_icon.attachment.blob.present? %>
                            <li data-target="#gallery-slider" data-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>">
                              <img src="<%= main_app.url_for(recipe_icon.my_cf_image_url(:thumb)) %>" alt="Thumbnail <%= index + 1 %>">
                            </li>
                          <% end %>
                        <% end %>
                      <% end %>
                      <% if @recipe.recipe_videos.present? %>
                        <% @recipe.recipe_videos.each_with_index do |video, index| %>
                          <% youtube_id = video.video_url.split('v=')&.last %>
                          <% thumbnail_url = "https://img.youtube.com/vi/#{youtube_id}/hqdefault.jpg" %>
                          <li data-target="#gallery-slider" data-slide-to="<%= (@recipe&.recipe_icons&.size || 0) + index %>" class="<%= 'active' if index == 0 %>">
                            <img src="<%= thumbnail_url %>" alt="Video Thumbnail <%= index + 1 %>">
                          </li>
                        <% end %>
                      <% end %>
                    </ol>
                </div>
                </div>
              </div>
              <div class="col-xl-6">
                <h1 class="title mb-40"><%= @recipe.name %></h1>
                <% if @recipe.ingredients.present? %>
                <div class="product-ingredients">
                  <h5>Ingredients</h5>
                  <ul>
                    <% @recipe.ingredients.each do |ingredient| %>
                    <li>
                      <%= ingredient.name %>
                      <% if ingredient.variant.present? %>
                        <% product = ingredient.variant.product %>
                        <%= link_to spree.product_path(product) , class: "ml-1", data: { turbolinks: false } do %>
                          <%= product.name %>
                        <% end %>
                      <% end %>
                    </li>
                  <% end %>
                 </ul>
                </div>
                <%end%>
                <%= @recipe&.description&.html_safe %>
                <% if @recipe.instructions.present? %>
                  <div class="product-ingredients">
                    <h5>Instructions</h5>
                    <ol>
                      <% @recipe.instructions.each do |instruction| %>
                    <li>
                      <%= instruction.description %>
                    </li>
                  <% end %>
                    </ol>
                  </div>
                 <% end %> 
                <div class="mt-40">
                  <%= link_to "SHOP THE FLAVOR", display_recipe_products_modal_path(@recipe), class: "btn btn-primary", remote: true, id: "js-recipe-product-modal" %>
                  <%= link_to "Print / save recipe", recipe_pdf_path(@recipe, format: :pdf), class: "ml-sm-2 mt-2 mt-sm-0 btn btn-primary", target: '_blank' %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-1 col-lg-2 phone-hide"></div>
      </div>
    </main>
  </div>


  <!-- mobile search menu -->
  <div class="mobile-search-menu">
    <div class="search-wrap">
      <input type="text" class="form-control" placeholder="Search...">
    </div>
  </div>
 

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
  <script async src="https://www.instagram.com/embed.js"></script>
  <script src="assets/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/lightslider.js"></script>
  <script src="assets/js/slinky.js"></script>
  <script src="assets/js/aos.js"></script>

  <!-- Initialize animations -->
  <script>
    AOS.init();
  </script>

  <!-- For mobile menu -->
  <script>
    const slinky = $('#menu').slinky({ title: true });
  </script>
  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>
  <script>
    $('.close-menu').on('click', function (e) {
      $('.mobile-menu').toggleClass("show");
      e.preventDefault();
    });
  </script>
  <script>
    $('.sub-menu > li').click(function (e) {
      e.stopPropagation();
      $(this).toggleClass('active');
      $(this).children('div').slideToggle();
      $(this).closest('.parent').siblings().children('div').slideUp();
    });
  </script>
  <script>
    $(document).ready(function () {
      $('#videos-slider').lightSlider({
        item: 2,
        loop: false,
        slideMove: 1,
        easing: 'cubic-bezier(0.25, 0, 0.25, 1)',
        speed: 600,
        slideMargin: 120,
        enableTouch: true,
        pager: false,
        onSliderLoad: function (el) {
          var parent = el.parent();
          var action = parent.find('.lSAction');
          action.insertBefore(parent);
        },
        responsive: [
          {
            breakpoint: 1199,
            settings: {
              slideMargin: 40,
            }
          },
          {
            breakpoint: 991,
            settings: {
              item: 2,
              slideMove: 1,
              slideMargin: 30
            }
          },
          {
            breakpoint: 575,
            settings: {
              item: 1,
              slideMargin: 20
            }
          }
        ]
      });
    });
  </script>
  <script>
    $(document).ready(function () {
      $('#blog-slider').lightSlider({
        item: 2,
        loop: false,
        slideMove: 1,
        easing: 'cubic-bezier(0.25, 0, 0.25, 1)',
        speed: 600,
        slideMargin: 120,
        enableTouch: true,
        pager: false,
        onSliderLoad: function (el) {
          var parent = el.parent();
          var action = parent.find('.lSAction');
          action.insertBefore(parent);
        },
        responsive: [
          {
            breakpoint: 1199,
            settings: {
              slideMargin: 40,
            }
          },
          {
            breakpoint: 991,
            settings: {
              item: 2,
              slideMove: 1,
              slideMargin: 30
            }
          },
          {
            breakpoint: 575,
            settings: {
              item: 1,
              slideMargin: 20
            }
          }
        ]
      });
    });  
  </script>
  <script>
    $(document).ready(function () {
      $('#reviews-slider').lightSlider({
        item: 3,
        loop: false,
        slideMove: 1,
        easing: 'cubic-bezier(0.25, 0, 0.25, 1)',
        speed: 600,
        slideMargin: 0,
        enableTouch: true,
        pager: false,
        onSliderLoad: function (el) {
          var parent = el.parent();
          var action = parent.find('.lSAction');
          action.insertBefore(parent);
        },
        responsive: [
          {
            breakpoint: 1199,
            settings: {
              item: 2,
              slideMove: 1,
            }
          },
          {
            breakpoint: 767,
            settings: {
              item: 1,
              slideMove: 1,
            }
          }
        ]
      });
    });  
  </script>
  <script>
    $('.nav-cart').on('click', function (e) {
      $('.nav-search').removeClass('active');
      $('.mobile-search-menu').removeClass('active');
      $('.mobile-menu').removeClass('show');
      $('.sidebar-menu-wrapper .overlay').removeClass('active');
      // actual function
      $('.mobile-menu-link').addClass('collapsed');
      $('.cart-sidebar').toggleClass("active");
      $('.nav-cart').toggleClass("active");
      $('.cart-sidebar-wrapper .overlay').toggleClass("active");
      $('body').removeClass("hide-scroll");
      e.preventDefault();
    });

    $('.close-sidebar-btn').on('click', function (e) {
      $('.nav-cart').toggleClass("active");
      $('.cart-sidebar').toggleClass("active");
      $('.cart-sidebar-wrapper .overlay').toggleClass("active");
      $('body').removeClass("hide-scroll");
      e.preventDefault();
    });

    $('.cart-sidebar-wrapper .overlay').on('click', function (e) {
      $('.nav-cart').toggleClass("active");
      $('.cart-sidebar').toggleClass("active");
      $('.cart-sidebar-wrapper .overlay').toggleClass("active");
      $('body').removeClass("hide-scroll");
      e.preventDefault();
    });
  </script>
  <script>
    $('.mobile-menu-link').on('click', function (e) {
      $('.nav-search').removeClass('active');
      $('.mobile-search-menu').removeClass('active');
      $('.nav-cart').removeClass('active');
      $('.cart-sidebar').removeClass('active');
      $('.cart-sidebar-wrapper .overlay').removeClass('active');
      $('body').removeClass("hide-scroll");
    });
  </script>
  <script>
    $('.nav-search').on('click', function (e) {
      if ($('.nav-cart').hasClass('active')) {
        $('.nav-cart').removeClass('active');
      }
      if ($('.cart-sidebar').hasClass('active')) {
        $('.cart-sidebar').removeClass('active');
      }
      if ($('.cart-sidebar-wrapper .overlay').hasClass('active')) {
        $('.cart-sidebar-wrapper .overlay').removeClass('active');
      }
      if ($('.mobile-menu').hasClass('show')) {
        $('.mobile-menu').removeClass('show');
      }
      $('.mobile-menu-link').addClass('collapsed');
      $('.mobile-search-menu').toggleClass("active");
      $('.nav-search').toggleClass("active");
      e.preventDefault();
    });
  </script>
  <script>
    $(document).ready(function () {
      var showChar = 360;
      var ellipsestext = "...";
      var moretext = "more";
      var lesstext = "less";
      $('.more').each(function () {
        var content = $(this).html();
        if (content.length > showChar) {
          var c = content.substr(0, showChar);
          var h = content.substr(showChar - 1, content.length - showChar);
          var html = c + '<span class="moreellipses">' + ellipsestext + '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';
          $(this).html(html);
        }
      });

      $(".morelink").click(function () {
        if ($(this).hasClass("less")) {
          $(this).removeClass("less");
          $(this).html(moretext);
        } else {
          $(this).addClass("less");
          $(this).html(lesstext);
        }
        $(this).parent().prev().toggle();
        $(this).prev().toggle();
        return false;
      });
    });
  </script>
  <script>
    $(document).ready(function () {
      $('#product-gallery').lightSlider({
        gallery: true,
        item: 1,
        loop: false,
        controls: false,
        slideMove: 1,
        easing: 'cubic-bezier(0.25, 0, 0.25, 1)',
        speed: 600,
        slideMargin: 0,
        enableTouch: true,
        pager: true,
        thumbItem: 3,
        responsive: [
          {
            breakpoint: 991,
            settings: {
              slideMove: 1,
              auto: true,
              loop: true,
            }
          },
        ]
      });
    });
  </script>
  <script>
    $('video').on('play', function (e) {
      $("#gallery-slider").carousel('pause');
    });
    $('video').on('stop pause ended', function (e) {
      $("#gallery-slider").carousel();
    });
  </script>
</body>
</html>
