<div data-hook="admin_recipe_form_fields" class="row">
  <div class="col-md-12">
    <%= f.field_container :name, class: ['form-group'] do %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= error_message_on :recipe, :name %>
    <% end %>

    <div data-hook="admin_product_form_slug">
      <%= f.field_container :slug, class: ['form-group'] do %>
        <%= f.label :slug, raw(Spree.t(:slug) + required_span_tag) %>
        <%= f.text_field :slug, class: 'form-control title' %>
        <%= f.error_message_on :slug %>
      <% end %>
    </div>

    <%= f.field_container :description, class: ['form-group'] do %>
      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control spree-rte" %>
      <%= error_message_on :recipe, :description %>
    <% end %>

    <%= f.field_container :taxon_ids, class: ['form-group'] do %>
      <%= f.label :taxon_ids, "Taxons" %>
      <%= f.collection_select :taxon_ids, @recipe_taxons, :id, :name, { include_hidden: false } , {multiple: true, class: "select2"} %>
    <% end %>

    <%= f.field_container :recipe_icons, class: ['form-group'] do %>
      <%= f.label :recipe_icons %>
      <%= f.file_field :recipe_icons %>
      <%= error_message_on :recipe, :recipe_icons %>
    <% end %>

    <%= f.fields_for :recipe_videos do |video_form| %>
      <div class="form-group">
        <%= video_form.label :video_url, 'YouTube Video URL' %>
        <%= video_form.text_field :video_url, class: 'form-control' %>
        <%= error_message_on :recipe, :recipe_videos %>
      </div>
    <% end %>


  </div>
</div>
