<% content_for :page_title do %>
  <%= Spree.t(:editing_recipe) %>
<% end %>

<div data-hook="admin_recipe_edit_form">
  <%= form_for [:admin, @recipe] do |f| %>
    <div class="row">
      <div class="col-md-12">
        <%= render 'form', f: f %>
        <div class="form-actions" data-hook="buttons">
          <%= button Spree.t('actions.update'), 'save.svg', 'submit', {class: 'btn-success', data: { disable_with: "#{ Spree.t(:saving) }..." }} %>
          <span class="or"><%= Spree.t(:or) %></span>
          <%= button_link_to Spree.t('actions.cancel'), admin_recipes_url, icon: 'cancel.svg' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
