<%= render 'spree/admin/shared/recipe_tabs', current: :recipe_videos %>
<%= render 'spree/admin/shared/error_messages', target: @recipe %>

<% content_for :page_actions do %>
  <%= yield :page_actions %>
  <%= button_link_to(Spree.t(:new_video), spree.new_admin_recipe_recipe_video_url(@recipe), { class: "btn-success", icon: 'add.svg', id: 'new_recipe_video_link' }) %>
<% end %>


<% unless @recipe.recipe_videos.any? %>
  <div class="alert alert-warning">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::RecipeIcon)) %>.
  </div>
<% else %>
<div class="table-responsive">
  <table class="table sortable" data-hook="videos_table">
    <thead>
      <tr data-hook="videos_header">
        <th>
          video_url
        </th>
        <th class="actions"></th>
      </tr>
    </thead>

    <tbody id="sortVert">
      <% (@recipe.recipe_videos).each do |video| %>
        <tr id="<%= spree_dom_id video %>" data-hook="videos_row">
          <td><%= video.video_url %></td>
          <td class="actions">
            <span class="d-flex justify-content-end">
              <%= link_to_with_icon('edit.svg', Spree.t(:edit), spree.edit_admin_recipe_recipe_video_url(@recipe, video), class: 'btn btn-primary btn-sm', no_text: true, data: { action: 'edit' }) if can? :edit, video %>
              <%= link_to_delete(video, { url: spree.admin_recipe_recipe_video_url(@recipe, video), no_text: true }) if can? :destroy, video %>
            </span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>
