<%= render 'spree/admin/shared/recipe_tabs', current: :recipe_icons %>
<%= render 'spree/admin/shared/error_messages', target: @recipe %>

<%= form_for [:admin, @recipe, @recipe_icon], as: :recipe_icon, url: spree.admin_recipe_recipe_icon_path, html: { multipart: true } do |f| %>
  <div data-hook="edit_image" class="card mb-3">
    <div class="card-header">
      <h1 class="card-title mb-0 h5">
        <%= @recipe_icon.attachment_file_name %>
      </h1>
    </div>
    <div class="card-body">
      <div class="form-group">
        <div data-hook="thumbnail" class="col-12 col-lg-3 text-center">
          <%= f.label Spree.t(:thumbnail) %>
          <%= link_to image_tag(main_app.url_for(@recipe_icon.url(:small))), main_app.rails_blob_url(@recipe_icon.attachment) %>
        </div>
        <div class="col-12 col-lg-9">
          <%= render partial: 'form', locals: { f: f } %>
        </div>

        <div class="form-actions" data-hook="buttons">
          <%= button Spree.t('actions.update'), 'save.svg' %>
          <span class="or"><%= Spree.t(:or) %></span>
          <%= button_link_to Spree.t('actions.cancel'), spree.admin_recipe_recipe_icons_url(@recipe), id: 'cancel_link', icon: 'cancel.svg' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
