 <div class="category-filters-wrap d-lg-block d-none">
    <div class="row align-items-center">
      <div class="col-xl-8 col-lg-7">
        <div class="sorting-filter d-flex align-items-center">
          <div data-hook="taxon_products">
            <ul class="" style="display:none;">
              <li><%= link_to "Ascending name", request.parameters.merge(sort_by: 'name-a-z'), id: 'ascending_name', class: "assending-filter", 'data-turbolinks': 'false', aria: { label: "Natures Ascending name link" } %></li>
              <li><%= link_to "Descending name", request.parameters.merge(sort_by: 'name-z-a'), id: 'descending_name', class: "descending-filter", 'data-turbolinks': 'false', aria: { label: "Natures Descending name link" } %></li>
            </ul>
            <div class="sorting-filter d-flex align-items-center justify-content-end" >
              <label>Sort by:</label>
              <% active_klass_ascend_by_name = params[:sort_by].present? && params[:sort_by] == "name-a-z" ? 'active' : '' %>
              <button type="button" class="product-sort-js <%= active_klass_ascend_by_name %>" data-filter-type="assending-filter">A to Z</button>

              <% active_klass_descend_by_name = params[:sort_by].present? && params[:sort_by] == "name-z-a" ? 'active' : '' %>
              <button type="button" class="product-sort-js <%= active_klass_descend_by_name %>" data-filter-type="descending-filter">Z to A</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-5">
        <div class="header-search">
          <% category_id = category_recipe_id(taxon) %>
          <%= form_tag nested_recipe_taxons_path(category_id), method: :get, id: 'recipe-search-form' do %>
            <div class="header-search d-none d-sm-block">
              <%= search_field_tag(
                  "q[name_cont]",
                  params.dig(:q, :name_cont),
                  placeholder: "Search recipes",
                  class: "form-control",
                  id: "recipe-search",
                  autocomplete: "off"
                ) %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>