<% recipe_taxons.each do |category| %>
  <% if category.top_four_pop_recipes.present? %>
    <div class="container">
      <div class="wrap">
        <div class="d-flex align-items-center justify-content-between mb-20">
          <div class="title-wrap">
            <h2 class="title">Most popular in <%= category.name %></h2>
            <p class="d-none d-sm-block">
              He goes on adventures around the world in search of new flavors
            </p>
          </div>
          <% category_recipe_id = category_recipe_id(category) %>
              <%= link_to nested_recipe_taxons_path(category_recipe_id), data: { turbolinks: false }, class: "btn btn-black outline d-none d-sm-block" do %>
                <span>See More</span>
              <% end %>
        </div>
        <div class="row">
          <% category.top_four_pop_recipes.each do |recipe| %>
            <div class="col-lg-3 col-6">
              <div class="product-wrap" data-aos="fade-in" data-aos-once="true" data-aos-duration="500">
                <div class="product-img pop-img">
                  <% if browser.device.mobile? || !browser.device.tablet? %>
                    <% if recipe.recipe_icons.present? %>
                        <%= image_tag recipe.recipe_image_tag, alt:"#{recipe.name} Image" %>
                    <% else %>
                        <%= image_tag "product-thumb-1.jpg", alt:"#{recipe.name} Image" %>
                    <% end %>
                  <% end %>
                  <%# <span class="badge">Spring</span> %>
                </div>
                <div class="product-desc text-center wrap-long-words">
                  <h4><%= recipe.name if recipe.present? %></h4>
                  <div class="d-none d-sm-block">
                    <% if recipe.present? && recipe.description.present? %>
                      <%= recipe.description.html_safe%>
                    <% end %>
                  </div>
                  <%= link_to 'See More', recipe_product_path(recipe, taxon_id: category.id), class: "btn btn-primary d-none d-sm-block", data: { turbolinks: false } if recipe.present? %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="text-center d-block d-sm-none">
          <%= link_to nested_recipe_taxons_path(category_recipe_id), data: { turbolinks: false }, class: "btn btn-black outline" do %>
            <span>See More</span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>