<main class="page-contents">
  <div class="recipes-hero-banners">
    <div class="container">
      <div class="row">
        <% @recipe_slide_locations.each do |location| %>
        <% slide = location.slides.first %>
          <div class="col-lg-3 col-6 mb-50">
            <div class="img">
              <% if slide&.image&.attached? %>
                <%= image_tag(main_app.url_for(slide.image), class: "recipe_image", alt: slide&.name) %>
              <% else %>
                <%= image_tag(asset_path('noimage/default-product-image.jpg'), alt: slide&.name) %>
              <% end %>
            </div>
            <a href="<%= slide&.link_url %>"><h4><%= slide&.name %></h4></a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="category-search-wrapper">
    <div class="container">
      <div class="d-flex align-items-center justify-content-between mb-20">
        <div class="title-wrap">
          <h2 class="title">All Categories</h2>
          <p class="d-none d-sm-block">
            He goes on adventures around the world in search of new flavors
          </p>
        </div>
        <%= form_tag recipe_search_path, method: :get, id: 'recipe-search-form' do %>
          <div class="header-search d-none d-sm-block">
            <%= search_field_tag :q, 
                                params[:q], 
                                placeholder: "Search recipes", 
                                class: "form-control", 
                                id: "recipe-search", 
                                autocomplete: "off" %>
          </div>
        <% end %>
      </div>
      <div class="wrap d-flex align-items-center justify-content-between">
        <% @recipe_taxons.limit(8).each do |category| %>
            <% category_recipe_id = category.permalink.sub("recipes/", "") %>
          <div class="recipe-category text-center">
            <%= link_to nested_recipe_taxons_path(category_recipe_id), data: { turbolinks: false }, title: "All #{category.name} Products" do %>
              <% if browser.device.mobile? || !browser.device.tablet? %>
                <% if category.icon.present? %>
                    <%= image_tag main_app.url_for(category.icon.try(:attachment)), alt:"#{category.name} Image" %> 
                <% else %>
                    <%= image_tag "noimage/default-category-image-small.jpg", alt:"#{category.name} Image" %>
                <% end %>
              <% else %>
                <% if category.icon.present? %>
                    <%= image_tag main_app.url_for(category.icon.my_cf_image_url(:large)), alt:"#{category.name} Image" %> 
                <% else %>
                    <%= image_tag "noimage/default-category-image.jpg", alt:"#{category.name} Image" %>
                <% end %>
              <% end %>
              <h4><%= category.name.humanize %></h4>
            <% end %>
          </div>
        <% end %>
      </div>
      <%= form_tag recipe_search_path, method: :get, id: 'recipe-search-form' do %>
          <div class="header-search d-block d-sm-none">
            <%= search_field_tag :q, 
                                params[:q], 
                                placeholder: "Search recipes", 
                                class: "form-control", 
                                id: "recipe-search", 
                                autocomplete: "off" %>
          </div>
        <% end %>
    </div>
  </div>
  <div class="popular-categories-wrapper">
    <div class="container">
      <div class="wrap">
        <div class="d-flex align-items-center justify-content-between mb-20">
          <div class="title-wrap">
            <h2 class="title">Most popular in category 1</h2>
            <p class="d-none d-sm-block">
              He goes on adventures around the world in search of new flavors
            </p>
          </div>
          <a href="#" class="btn btn-black outline d-none d-sm-block">
            <span>See More</span>
          </a>
        </div>
        <div class="row">
          <div class="col-lg-3 col-6">
            <div class="product-wrap" data-aos="fade-in" data-aos-once="true" data-aos-duration="500">
              <div class="product-img">
                <img src="assets/images/product-thumb-1.jpg" alt="">
                <span class="badge">Spring</span>
              </div>
              <div class="product-desc text-center">
                <h4>Acai Compound, Natural</h4>
                <p class="d-none d-sm-block">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                  sed do eiusmod tempor incididunt ut labore et dolore magna
                  aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                  ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <a href="#" class="btn btn-primary d-none d-sm-block">
                  <span>See More</span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-6">
            <div class="product-wrap" data-aos="fade-in" data-aos-once="true" data-aos-duration="500">
              <div class="product-img">
                <img src="assets/images/product-thumb-1.jpg" alt="">
                <span class="badge">Spring</span>
              </div>
              <div class="product-desc text-center">
                <h4>Acai Compound, Natural</h4>
                <p class="d-none d-sm-block">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                  sed do eiusmod tempor incididunt ut labore et dolore magna
                  aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                  ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <a href="#" class="btn btn-primary d-none d-sm-block">
                  <span>See More</span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-6">
            <div class="product-wrap" data-aos="fade-in" data-aos-once="true" data-aos-duration="500">
              <div class="product-img">
                <img src="assets/images/product-thumb-1.jpg" alt="">
                <span class="badge">Spring</span>
              </div>
              <div class="product-desc text-center">
                <h4>Acai Compound, Natural</h4>
                <p class="d-none d-sm-block">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                  sed do eiusmod tempor incididunt ut labore et dolore magna
                  aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                  ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <a href="#" class="btn btn-primary d-none d-sm-block">
                  <span>See More</span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-6">
            <div class="product-wrap" data-aos="fade-in" data-aos-once="true" data-aos-duration="500">
              <div class="product-img">
                <img src="assets/images/product-thumb-1.jpg" alt="">
                <span class="badge">Spring</span>
              </div>
              <div class="product-desc text-center">
                <h4>Acai Compound, Natural</h4>
                <p class="d-none d-sm-block">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                  sed do eiusmod tempor incididunt ut labore et dolore magna
                  aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                  ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <a href="#" class="btn btn-primary d-none d-sm-block">
                  <span>See More</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center d-block d-sm-none">
          <a href="#" class="btn btn-black outline">
            <span>See More</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="featured-recipe-video">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-7">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xujDlx5E94g" allowfullscreen="" /></iframe>
          </div>
        </div>
        <div class="col-md-5">
          <div class="text-block text-center">
            <h6>Featured Video</h6>
            <h2 class="title mb-20">Extracts and Flavorings</h2>
            <p>
              Nature's Flavors has been producing natural and organic
              flavorings for over 40 years. We specialize in custom-made,
              all-natural and organic flavorings for the food and beverage
              industry. Our CEO and Founde
            </p>
            <p>
              <strong>What else makes Nature’s Flavors so special?</strong>
              <br />
              There’s no middle man… <a href="#">more</a>
            </p>
            <% if @recipe_taxons && @recipe_taxons.first && @recipe_taxons.first.recipes.any? %>
              <% recipe = @recipe_taxons.first.recipes.first.slug %>
              <a href="/recipe/<%= recipe %>?taxon_id=<%= @recipe_taxons.first.id %>" class="btn btn-primary">
                <span>Get the Recipe</span>
              </a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="home-blog-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
          <div class="wrap">
            <div class="title-wrap d-xl-flex flex-row-reverse align-items-center justify-content-between">
              <div class="right"> <a href="https://blog.naturesflavors.com" class="blog-link">More from our blog</a>
              </div>
              <div class="left d-flex flex- align-items-start">
                <div class="title-img"><img src="assets/images/blog-icon.svg" alt=""></div>
                <div class="title-info">
                  <h3 class="title">Flavorful Bites<span class="blog-badge">Blog</span></h3>
                  <div class="sm-title text-uppercase">RECIPES | TIPS AND TRICKS | helpful information</div>
                </div>
              </div>
            </div>
            <div class="slider-wrapper position-relative">
              <ul id="blog-slider" class="ontent-slider">
                <li data-aos="fade-up" data-aos-once="true" data-aos-duration="700">
                  <a href="https://blog.naturesflavors.com/teriyaki-smash-burger-tacos-recipe/" class="video-thumb-wrap">
                    <div class="video-thumb mb-10">
                      <img src="assets/images/video-thumb-1.jpg" alt="">
                    </div>
                    <h4>Ice Cream Cone Bath Bombs</h4>
                  </a>
                </li>
                <li data-aos="fade-up" data-aos-once="true" data-aos-duration="700">
                  <a href="https://blog.naturesflavors.com/pecan-maple-glaze-donut-recipe/" class="video-thumb-wrap">
                    <div class="video-thumb mb-10">
                      <img src="assets/images/video-thumb-1.jpg" alt="">
                    </div>
                    <h4>DIY Watermelon Lip Scrub</h4>
                  </a>
                </li>
                <li data-aos="fade-up" data-aos-once="true" data-aos-duration="700">
                  <a href="https://blog.naturesflavors.com/teriyaki-smash-burger-tacos-recipe/" class="video-thumb-wrap">
                    <div class="video-thumb mb-10">
                      <img src="assets/images/video-thumb-1.jpg" alt="">
                    </div>
                    <h4>Ice Cream Cone Bath Bombs</h4>
                  </a>
                </li>
                <li data-aos="fade-up" data-aos-once="true" data-aos-duration="700">
                  <a href="https://blog.naturesflavors.com/pecan-maple-glaze-donut-recipe/" class="video-thumb-wrap">
                    <div class="video-thumb mb-10">
                      <img src="assets/images/video-thumb-1.jpg" alt="">
                    </div>
                    <h4>DIY Watermelon Lip Scrub</h4>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>
  </div>