<div class="recipes-hero-banners">
  <div class="container">
    <div class="row">
      <%= render "slider", recipe_slide_locations: @recipe_slide_locations %>
    </div>
  </div>
</div>
<div class="category-search-wrapper">
  <%= render "top_eight_categories", recipe_taxons: @recipe_taxons %>
</div>
<%= render "top_four_popular_recipes", recipe_taxons: @recipe_taxons %>
<%= render "feature_recipe_video", recipe: @first_recipe %>
<%= render "home_blog", recipe: @first_recipe %>
 
