<% cache [cache_key_for_taxon_show(@taxon), params[:sort_by]] do %>

  <main class="page-contents">
    <div class="category-wrapper">
      <div class="row no-gutters">
        <div class="col-xl-2 col-lg-3 phone-hide">
          <div class="sidebar-categories">
            <h4>Categories:</h4>
            <%= render partial: 'taxonomies', locals: { taxon: @taxon } %>
          </div>
        </div>
        <div class="col-xl-10 col-lg-9">
          <div class="recipes-wrapper">
            <div class="category-intro-wrapper">
              <div class="row">
                <div class="col-xl-4 col-lg-5">
                  <div class="category-banner mb-20">
                    <div class="img">
                      <%= category_image(@taxon) %>
                    </div>
                  </div>
                </div>
                <div class="col-xl-8 col-lg-7">
                    <%= spree_recipe_breadcrumbs(@taxon) %>
                  <h1 class="title"><%= @taxon.title %></h1>
                  <div class="mobile-categories-wrap phone-visible">
                   <div class="header"><a href="#" class="mobile-category-toggle" role="button" aria-label="mobile category toggle">Categories:</a></div>
                    <%= render partial: 'taxonomies', locals: { taxon: @taxon } %>
                  </div>
                  <div class="category-intro more wrap-long-words">
                    <%= raw(@taxon.short_description) %>
                    <% if @taxon.description.present? %>
                      <a href="#more-category-description" data-turbolinks="false" aria-label="More About <%= @taxon.name %>">
                        <strong>Read more</strong>
                      </a>
                    <% end %>
                  </div>
                </div>
              </div>
              <%= render "popular_recipes", taxon: @taxon %>
            </div>
            <%= render partial: 'filters', locals: { taxon: @taxon } %>
            <%= render partial: 'mobile_filters', locals: { taxon: @taxon } %>
            <div class="category-mobile-filter phone-visible">
              <div class="header-search">
                <% category_id = category_recipe_id(@taxon) %> %>
                <%= form_tag nested_recipe_taxons_path(category_id), method: :get, id: 'recipe-search-form' do %>
                  <%= search_field_tag :q,
                                          params[:q],
                                          placeholder: "Search recipes",
                                          class: "form-control",
                                          id: "recipe-search",
                                          autocomplete: "off" %>
                <% end %>
              </div>
            </div>
             <%= render partial: 'spree/shared/recipes', locals: { recipes: @recipes, taxon: @taxon } %>
          </div>
          <!-- /.Best seller products -->
          <div class="pagination-wrap">
            <%= render partial: 'spree/taxons/pagination', locals: { pagy: @pagy, taxon: @taxon }  %>
          </div>
        </div>
      </div>
      <div class="category-intro-footer">
        <div class="row no-gutters">
          <div class="col-xl-2 col-lg-3 phone-hide"></div>
          <div class="col-xl-10 col-lg-9">
            <div class="text-block wrap-long-words">
              <% if @taxon.description.present? %>
                <span id="more-category-description" class="more">More about <%= @taxon.name %></span><br><br>
                <%= raw(@taxon.description) %>
              <% end %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- mobile search menu -->
  <div class="mobile-search-menu">
    <div class="search-wrap">
      <% category_recipe_id = @taxon.permalink.sub("recipes/", "") %>
      <%= form_tag nested_recipe_taxons_path(category_recipe_id), method: :get, id: 'recipe-search-form' do %>
        <%= search_field_tag :q,
                                params[:q],
                                placeholder: "Search recipes",
                                class: "form-control",
                                id: "recipe-search",
                                autocomplete: "off" %>
      <% end %>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="assets/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/lightslider.js"></script>
  <script src="assets/js/slinky.js"></script>
  <script src="assets/js/aos.js"></script>

  <!-- Initialize animations -->
  <script>
    AOS.init();
  </script>

  <!-- For mobile menu -->
  <script>
    const slinky = $('#menu').slinky({ title: true });
  </script>

  <!-- Bootstrap popver -->
  <script>
    $(function () {
      $('[data-toggle="popover"]').popover();
    })
  </script>
  <script>
    $('.close-menu').on('click', function (e) {
      $('.mobile-menu').toggleClass("show");
      e.preventDefault();
    });
  </script>
  <script>
    $('.sub-menu > li').click(function (e) {
      e.stopPropagation();
      $(this).toggleClass('active');
      $(this).children('div').slideToggle();
      $(this).closest('.parent').siblings().children('div').slideUp();
    });
  </script>
  <script>
    $(document).ready(function () {
      $('#videos-slider').lightSlider({
        item: 2,
        loop: false,
        slideMove: 1,
        easing: 'cubic-bezier(0.25, 0, 0.25, 1)',
        speed: 600,
        slideMargin: 120,
        enableTouch: true,
        pager: false,
        onSliderLoad: function (el) {
          var parent = el.parent();
          var action = parent.find('.lSAction');
          action.insertBefore(parent);
        },
        responsive: [
          {
            breakpoint: 1199,
            settings: {
              slideMargin: 40,
            }
          },
          {
            breakpoint: 991,
            settings: {
              item: 2,
              slideMove: 1,
              slideMargin: 30
            }
          },
          {
            breakpoint: 575,
            settings: {
              item: 1,
              slideMargin: 20
            }
          }
        ]
      });
    });
  </script>
  <script>
    $(document).ready(function () {
      $('#blog-slider').lightSlider({
        item: 2,
        loop: false,
        slideMove: 1,
        easing: 'cubic-bezier(0.25, 0, 0.25, 1)',
        speed: 600,
        slideMargin: 120,
        enableTouch: true,
        pager: false,
        onSliderLoad: function (el) {
          var parent = el.parent();
          var action = parent.find('.lSAction');
          action.insertBefore(parent);
        },
        responsive: [
          {
            breakpoint: 1199,
            settings: {
              slideMargin: 40,
            }
          },
          {
            breakpoint: 991,
            settings: {
              item: 2,
              slideMove: 1,
              slideMargin: 30
            }
          },
          {
            breakpoint: 575,
            settings: {
              item: 1,
              slideMargin: 20
            }
          }
        ]
      });
    });  
  </script>
  <script>
    $(document).ready(function () {
      $('#reviews-slider').lightSlider({
        item: 3,
        loop: false,
        slideMove: 1,
        easing: 'cubic-bezier(0.25, 0, 0.25, 1)',
        speed: 600,
        slideMargin: 0,
        enableTouch: true,
        pager: false,
        onSliderLoad: function (el) {
          var parent = el.parent();
          var action = parent.find('.lSAction');
          action.insertBefore(parent);
        },
        responsive: [
          {
            breakpoint: 1199,
            settings: {
              item: 2,
              slideMove: 1,
            }
          },
          {
            breakpoint: 767,
            settings: {
              item: 1,
              slideMove: 1,
            }
          }
        ]
      });
    });  
  </script>
  <script>
    $('.nav-cart').on('click', function (e) {
      $('.nav-search').removeClass('active');
      $('.mobile-search-menu').removeClass('active');
      $('.mobile-menu').removeClass('show');
      $('.sidebar-menu-wrapper .overlay').removeClass('active');
      // actual function
      $('.mobile-menu-link').addClass('collapsed');
      $('.cart-sidebar').toggleClass("active");
      $('.nav-cart').toggleClass("active");
      $('.cart-sidebar-wrapper .overlay').toggleClass("active");
      $('body').removeClass("hide-scroll");
      e.preventDefault();
    });

    $('.close-sidebar-btn').on('click', function (e) {
      $('.nav-cart').toggleClass("active");
      $('.cart-sidebar').toggleClass("active");
      $('.cart-sidebar-wrapper .overlay').toggleClass("active");
      $('body').removeClass("hide-scroll");
      e.preventDefault();
    });

    $('.cart-sidebar-wrapper .overlay').on('click', function (e) {
      $('.nav-cart').toggleClass("active");
      $('.cart-sidebar').toggleClass("active");
      $('.cart-sidebar-wrapper .overlay').toggleClass("active");
      $('body').removeClass("hide-scroll");
      e.preventDefault();
    });
  </script>
  <script>
    $('.mobile-menu-link').on('click', function (e) {
      $('.nav-search').removeClass('active');
      $('.mobile-search-menu').removeClass('active');
      $('.nav-cart').removeClass('active');
      $('.cart-sidebar').removeClass('active');
      $('.cart-sidebar-wrapper .overlay').removeClass('active');
      $('body').removeClass("hide-scroll");
    });
  </script>
  <script>
    $('.nav-search').on('click', function (e) {
      if ($('.nav-cart').hasClass('active')) {
        $('.nav-cart').removeClass('active');
      }
      if ($('.cart-sidebar').hasClass('active')) {
        $('.cart-sidebar').removeClass('active');
      }
      if ($('.cart-sidebar-wrapper .overlay').hasClass('active')) {
        $('.cart-sidebar-wrapper .overlay').removeClass('active');
      }
      if ($('.mobile-menu').hasClass('show')) {
        $('.mobile-menu').removeClass('show');
      }
      $('.mobile-menu-link').addClass('collapsed');
      $('.mobile-search-menu').toggleClass("active");
      $('.nav-search').toggleClass("active");
      e.preventDefault();
    });
  </script>
  <script>
    $(document).ready(function () {
      var showChar = 1450;
      var ellipsestext = "...";
      var moretext = "more";
      var lesstext = "less";
      $('.more').each(function () {
        var content = $(this).html();
        if (content.length > showChar) {
          var c = content.substr(0, showChar);
          var h = content.substr(showChar - 1, content.length - showChar);
          var html = c + '<span class="moreellipses">' + ellipsestext + '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';
          $(this).html(html);
        }
      });

      $(".morelink").click(function () {
        if ($(this).hasClass("less")) {
          $(this).removeClass("less");
          $(this).html(moretext);
        } else {
          $(this).addClass("less");
          $(this).html(lesstext);
        }
        $(this).parent().prev().toggle();
        $(this).prev().toggle();
        return false;
      });
    });
  </script>
  <script>
    $('.filter-btn').on('click', function (e) {
      $('.category-mobile-filter').toggleClass("open");
      $('.shop-by-filter-mobile').toggleClass("show");
      e.preventDefault();
    });
  </script>
  <% end %>