<% cache [cache_key_for_taxon_show, params[:sort_by]] do %>
  <div class="category-wrapper">
    <div class="row no-gutters">
      <div class="col-xl-2 col-lg-3 phone-hide">
        <div class="sidebar-categories">
            <div class="sidebar-categories-title">Categories:</div>
            <%= render partial: 'taxonomies', locals: { taxon: @taxon }%>
        </div>
      </div>
      <div class= "col-xl-10 col-lg-9">
        <div class="products-wrapper">
          <div class="category-banner phone-visible">
            <% if browser.device.mobile? %>
                <% if @taxon.icon.present? %>
                  <%= image_tag @taxon.icon.my_cf_image_url(:small), alt:"#{@recipe_taxon.name}" %> 
                <% else %>
                  <%= image_tag "noimage/default-category-image-small.jpg", alt:"#{@taxon.name}" %>
                <% end %>
            <% else %>
              <% if @taxon.icon.present? %>
                <%= image_tag @taxon.icon.my_cf_image_url(:large), alt:"#{@taxon.name}" %> 
              <% else %>
                <%= image_tag "noimage/default-category-image.jpg", alt:"#{@taxon.name}" %>
              <% end %>
            <% end %>
          </div>
          <%= render partial: 'introduction', locals: { taxon: @taxon } %>
          <%= render partial: 'filters', locals: { taxon: @taxon } %>
          <%= render partial: 'mobile_filters', locals: { taxon: @taxon } %>
          <% if @recipes.present? %>
            <%= render partial: 'spree/shared/recipes', locals: { recipes: @recipes, taxon: @taxon } %>
          <% end %>
        </div>
        <% if @recipes.present? %>
          <%= render partial: 'spree/taxons/pagination', locals: { pagy: @pagy, taxon: @taxon }  %>
        <%end%>
      </div>
    </div>
  </div>
  <div class="category-intro-footer" id="footer-text">
    <% if @taxon.description.present? %>
      <span id="more-category-description" class="more">More about <%= @taxon.name %></span><br><br>
      <%= raw(@taxon.description) %>
    <% end %>
  </div>
<% end %>