<% cache [cache_key_for_taxon_show(@taxon), params[:sort_by]] do %>

  <main class="page-contents">
    <div class="category-wrapper">
      <div class="row no-gutters">
        <div class="col-xl-2 col-lg-3 phone-hide">
          <div class="sidebar-categories">
            <h4>Categories:</h4>
            <%= render partial: 'taxonomies', locals: { taxon: @taxon } %>
          </div>
        </div>
        <div class="col-xl-10 col-lg-9">
          <div class="recipes-wrapper">
            <div class="category-intro-wrapper">
              <div class="row">
                <div class="col-xl-4 col-lg-5">
                  <div class="category-banner mb-20">
                    <div class="img">
                      <%= category_image(@taxon) %>
                    </div>
                  </div>
                </div>
                <div class="col-xl-8 col-lg-7">
                    <%= spree_recipe_breadcrumbs(@taxon) %>
                  <h1 class="title"><%= @taxon.title %></h1>
                  <div class="mobile-categories-wrap phone-visible">
                   <div class="header"><a href="#" class="mobile-category-toggle" role="button" aria-label="mobile category toggle">Categories:</a></div>
                    <%= render partial: 'taxonomies', locals: { taxon: @taxon } %>
                  </div>
                  <div class="category-intro more wrap-long-words">
                    <%= raw(@taxon.short_description) %>
                    <% if @taxon.description.present? %>
                      <a href="#more-category-description" data-turbolinks="false" aria-label="More About <%= @taxon.name %>">
                        <strong>Read more</strong>
                      </a>
                    <% end %>
                  </div>
                </div>
              </div>
              <%= render "popular_recipes", taxon: @taxon %>
            </div>
            <%= render partial: 'filters', locals: { taxon: @taxon } %>
            <%= render partial: 'mobile_filters', locals: { taxon: @taxon } %>
            <div class="category-mobile-filter phone-visible">
              <div class="header-search">
                <% category_id = category_recipe_id(@taxon) %> %>
                <%= form_tag nested_recipe_taxons_path(category_id), method: :get, id: 'recipe-search-form' do %>
                  <%= search_field_tag :q,
                                          params[:q],
                                          placeholder: "Search recipes",
                                          class: "form-control",
                                          id: "recipe-search",
                                          autocomplete: "off" %>
                <% end %>
              </div>
            </div>
             <%= render partial: 'spree/shared/recipes', locals: { recipes: @recipes, taxon: @taxon } %>
          </div>
          <!-- /.Best seller products -->
          <div class="pagination-wrap">
            <%= render partial: 'spree/taxons/pagination', locals: { pagy: @pagy, taxon: @taxon }  %>
          </div>
        </div>
      </div>
      <div class="category-intro-footer">
        <div class="row no-gutters">
          <div class="col-xl-2 col-lg-3 phone-hide"></div>
          <div class="col-xl-10 col-lg-9">
            <div class="text-block wrap-long-words">
              <% if @taxon.description.present? %>
                <span id="more-category-description" class="more">More about <%= @taxon.name %></span><br><br>
                <%= raw(@taxon.description) %>
              <% end %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- mobile search menu -->
  <div class="mobile-search-menu">
    <div class="search-wrap">
      <% category_recipe_id = @taxon.permalink.sub("recipes/", "") %>
      <%= form_tag nested_recipe_taxons_path(category_recipe_id), method: :get, id: 'recipe-search-form' do %>
        <%= search_field_tag :q,
                                params[:q],
                                placeholder: "Search recipes",
                                class: "form-control",
                                id: "recipe-search",
                                autocomplete: "off" %>
      <% end %>
    </div>
  </div>
 